<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                    <h1>Login</h1>

                    <input formControlName="email" type="text" name="" placeholder="email"> 
                    <input formControlName="password" type="password" name="" placeholder="senha">

                    <input type="submit" name="" value="Login" href="#">

                </form>
            </div>
        </div>
    </div>
</div>